.carousel-caption {
	background:rgba(255,255,255,0.6);
	border-radius: 10px;
    position: absolute;
    right: 15%;
    bottom: 90px;
    left: 43%;
    z-index: 10;
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
    text-align: center;
    
}