/* Блок навигации */
 .menu {
	float: right;
}
.logo {
	margin-left: 10px;
}
.navbar-brand {
	margin-left: 15px;
}
.navbar-toggle {
	margin-right: 25px;
	z-index: 11;
}
.catalog-nav {
	background-color: #43B1E6;
	border-color: #43B1E6;
	margin-top: 50px;
	z-index: 10;
}
.catalog-nav .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 400;
}
.catalog-nav .navbar-nav > li > a:hover {
    color: #000000;
    font-weight: 500;
}
.cat-nav {
	float: left;
}
.cat-nav ul {
	margin-left: -30px;
}
.cat-nav-mobile .navbar-nav {
	float: left;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #43B1E6;
 }
 .cat-nav-mobile .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #ffffff;
    font-weight: 400;
 }
 .cat-nav-mobile .navbar-nav .dropdown .dropdown-menu > li > a:hover {
    color: #000000;
    font-weight: 500;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #43B1E6;
}

/* Блок слайдера */
.carousel-caption {
	background:rgba(255,255,255,0.6);
	border-radius: 10px;
    position: absolute;
    right: 15%;
    bottom: 90px;
    left: 43%;
    z-index: 10;
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
    text-align: center;
}
/* Блок о Mac */
.mac {
	background-color: #dbdbdb;
	height: 820px;
}
#mac-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 90px;
}
#mac-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}
.mac-description-desktop {
	margin-top: 110px;
}
.mac-description-desktop p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}
.mac-btn-desktop {
	float: right;
	margin-right: 30px;
}
.mac-description-mobile {
	margin-top: 30px;
}
.mac-description-mobile p {
	margin-left: 5px;
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}

 /* Блок о iPhone */
.iphone {
	background-color: #ffffff;
	height: 820px;
}
#iphone-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}
#iphone-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}

.iphone-description-desktop {
	margin-top: 110px;
}
.iphone-description-desktop p {
	width: 95%;
	margin-left: 30px;
	text-align: justify;
	font-size: 12pt;
}
.iphone-btn-desktop {
	float: left;
	margin-left: 30px;
}
.iphone-description-mobile {
	margin-top: 30px;
}
.iphone-description-mobile p {
	margin-left: 5px;
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}

/* Блок о iPad */
.ipad {
	background-color: #dbdbdb;
	height: 800px;
}
#ipad-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}
#ipad-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}

.ipad-description-desktop {
	margin-top: 110px;
}
.ipad-description-desktop p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}
.ipad-btn-desktop {
	float: right;
	margin-right: 30px;
}
.ipad-description-mobile {
	margin-top: -10px;
}
.ipad-description-mobile p {
	margin-left: 5px;
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}

/* Блок о Watch */

.watch {
	background-color: #ffffff;
	height: 820px;
}
#watch-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 150px;
}
#watch-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 50px;
}

.watch-description-desktop {
	margin-top: 150px;
}
.watch-description-desktop p {
	width: 95%;
	margin-left: 30px;
	text-align: justify;
	font-size: 12pt;
}
.watch-btn-desktop {
	float: left;
	margin-left: 30px;
}
.watch-description-mobile {
	margin-top: 30px;
}
.watch-description-mobile p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}

 /* Блок о TV */

.tv {
	background-color: #dbdbdb;
	height: 875px;
}
#tv-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 100px;
}
#tv-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 50px;
}

.tv-description-desktop {
	margin-top: 110px;
}
.tv-description-desktop p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}
.tv-btn-desktop {
	float: right;
	margin-right: 30px;
}
.tv-description-mobile {
	margin-top: 30px;
}
.tv-description-mobile p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
 }

 .desktop-button-tv {
 	float: right;
 	margin-right: 15px;
 }

 .mobile-button-tv {
 	margin-top: 50px;
 }
 /* Mac.html */

 /* Блок macbook */

.macbook {
 	margin-top: 140px;
}
.about-macbook {
	margin-top: 100px;
	text-align: justify;
}
.description-macbook .about-macbook-m {
	margin-top: 100px;
	text-align: justify;
}
.about-macbook-t {
	margin-top: 0px;
}
.btn-macbook {
	float: right;
	background-color: #43B1E6; 
}
.btn-macbook-m {

	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Блок iMac */

.imac {
 	margin-top: 140px;
}
.about-imac {
	margin-top: -50px;
	text-align: justify;
}
.description-imac .about-imac-m {
	margin-top: -100px;
	text-align: justify;
}
.about-imac-t {
	margin-top: 0px;
}
.image-imac img {
	margin-top: -120px;
}
.btn-imac {
	float: right;
	background-color: #43B1E6; 
}
.btn-imac-m {
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Блок mac-mini */

.mac-mini {
 	margin-top: 0px;
}
.about-mac-mini {
	margin-top: 100px;
	text-align: justify;
}
.description-mac-mini .about-mac-mini-m {
	margin-top: 30px; 
	text-align: justify;
}
.about-mac-mini-t {
	margin-top: 70px;
}
.image-mac-mini img {
	margin-top: 50px;
	margin-left: 70px;
}
.btn-mac-mini {
	float: right;
	background-color: #43B1E6; 
}
.btn-mac-mini-m {
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Блок Mac-pro */

.mac-pro {
 	margin-top: 40px;
}
.about-mac-pro {
	margin-top: 50px;
	text-align: justify;
}
.description-mac-pro .about-mac-pro-m {
	margin-top: 0px;
	text-align: justify;
}
.about-mac-pro-t {
	margin-top: 0px;
}
.btn-mac-pro {
	float: right;
	background-color: #43B1E6; 
}
.btn-mac-pro-m {
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}

 /* iPhone.html */
 /* Блок iPhone 7 */
.iphone7 {
 	margin-top: 140px;
}
.about-iphone7 {
	margin-top: 100px;
	text-align: justify;
}
.description-iphone7 .about-iphone7-m {
	margin-top: 220px;
	text-align: justify;
}
.about-iphone7-t {
	margin-top: 0px;
}
.btn-iphone7 {
	float: right;
	background-color: #43B1E6; 
}
.btn-iphone7-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Блок iPhone 6S */

.iphone6s {
 	margin-top: 140px;
}
.about-iphone6s {
	margin-top: -50px;
	text-align: justify;
}
.description-iphone6s .about-iphone6s-m {
	margin-top: -100px;
	text-align: justify;
}
.about-iphone6s-t {
	margin-top: 30px;
}
.image-iphone6s img {
	margin-left: 90px;
	margin-top: -120px;
}
.image-iphone6s-m img {
	margin-left: 40px;
}
.btn-iphone6s {
	float: right;
	background-color: #43B1E6; 
}
.btn-iphone6s-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Блок iphone SE */

.iphonese {
 	margin-top: 0px;
}
.about-iphonese {
	margin-top: 100px;
	text-align: justify;
}
.description-iphonese .about-iphonese-m {
	margin-top: 30px; 
	text-align: justify;
}
.about-iphonese-t {
	margin-top: 70px;
}
.image-iphonese img {
	margin-top: 50px;
	margin-left: 150px;
}
.image-iphonese-m img {
	margin-left: 70px;
}

.btn-iphonese {
	float: right;
	background-color: #43B1E6; 
}
.btn-iphonese-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Блок iPhone 6 */

.iphone6 {
 	margin-top: 40px;
}
.about-iphone6 {
	margin-top: 50px;
	text-align: justify;
}
.description-iphone6 .about-iphone6-m {
	margin-top: 0px;
	text-align: justify;
}
.about-iphone6-t {
	margin-top: 30px;
}
.image-iphone6 img {
	margin-left: 150px;
}
.image-iphone6-m img {
	margin-left: 60px;
}

.btn-iphone6 {
	float: right;
	background-color: #43B1E6; 
}
.btn-iphone6-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* iPad html */
 /* Блок iPad Pro 12.9 */
.ipad-pro129 {
 	margin-top: 140px;
}
.about-ipad-pro129 {
	margin-top: 100px;
	text-align: justify;
}
.description-ipad-pro129 .about-ipad-pro129-m {
	margin-top: 40px;
	text-align: justify;
}
.about-ipad-pro129-t {
	margin-top: 0px;
}
.image-ipad-pro129 img {
	margin-left: 110px;
}
.btn-ipad-pro129 {
	float: right;
	background-color: #43B1E6; 
}
.btn-ipad-pro129-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Блок iPad Pro 10.5 */

.ipad-pro105 {
 	margin-top: 140px;
}
.about-ipad-pro105 {
	margin-top: -50px;
	text-align: justify;
}
.description-ipad-pro105 .about-ipad-pro105-m {
	margin-top: -100px;
	text-align: justify;
}
.about-ipad-pro105-t {
	margin-top: 30px;
}
.image-ipad-pro105 img {
	margin-left: 90px;
	margin-top: -120px;
}
.image-ipad-pro105-m img {
	margin-left: 40px;
}
.btn-ipad-pro105 {
	float: right;
	background-color: #43B1E6; 
}
.btn-ipad-pro105-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Watch html */
 /* Блок Apple Watch Series 1 */
.watch-series1 {
 	margin-top: 140px;
}
.about-watch-series1 {
	margin-top: 100px;
	text-align: justify;
}
.description-watch-series1 .about-watch-series1-m {
	margin-top: 40px;
	text-align: justify;
}
.about-watch-series1-t {
	margin-top: 0px;
}
.image-watch-series1 img {
	margin-left: 110px;
}
.image-watch-series1-m img {
	margin-left: 40px;
}
.btn-watch-series1 {
	float: right;
	background-color: #43B1E6; 
}
.btn-watch-series1-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* Блок Apple Watch Series 2 */

.watch-series2 {
 	margin-top: 140px;
}
.about-watch-series2 {
	margin-top: -50px;
	text-align: justify;
}
.description-watch-series2 .about-watch-series2-m {
	margin-top: -100px;
	text-align: justify;
}
.about-watch-series2-t {
	margin-top: 30px;
}
.image-watch-series2 img {
	margin-left: 90px;
	margin-top: -120px;
}
.image-watch-series2-m img {
	margin-left: 20px;
}
.btn-watch-series2 {
	float: right;
	background-color: #43B1E6; 
}
.btn-watch-series2-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
}
/* TV html */
 /* Блок Apple Watch Series 1 */
.atv {
	margin: 0;
	padding: 0;
}
.image-tv {
	margin-top: 100px;
}
.container-tv-d {
	color: #ffffff;
	text-align: justify;
	position: absolute;
	top: 120px;
	z-index: 1;
}
.container-tv-t {
	color: #ffffff;
	text-align: justify;
	position: absolute;
	top: 110px;
	z-index: 1;
}
.container-tv-m {
	margin-top: 30px;
	color: black;
	text-align: justify;
}
.btn-tv {
	float: left;
	background-color: #43B1E6; 
	z-index: 1;
}
.btn-tv-m {
	margin-top: 30px;
	margin-right: 30px;
	float: right;
	background-color: #43B1E6; 
	z-index: 1;
}