.menu {
	float: right;
}
.logo {
	margin-left: 10px;
}
/* Блок слайдера */
.carousel-caption {
	background:rgba(255,255,255,0.6);
	border-radius: 10px;
    position: absolute;
    right: 15%;
    bottom: 90px;
    left: 43%;
    z-index: 10;
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
    text-align: center;
}
/* Блок о Mac */
.mac {
	background-color: #dbdbdb;
	height: 820px;
}
#mac-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 90px;
}
#mac-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}
.mac-description-desktop {
	margin-top: 110px;
}
.mac-description-desktop p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}
.mac-btn-desktop {
	float: right;
	margin-right: 30px;
}
.mac-description-mobile {
	margin-top: 30px;
}
.mac-description-mobile p {
	margin-left: 5px;
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}

 /* Блок о iPhone */
.iphone {
	background-color: #ffffff;
	height: 820px;
}
#iphone-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}
#iphone-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}

.iphone-description-desktop {
	margin-top: 110px;
}
.iphone-description-desktop p {
	width: 95%;
	margin-left: 30px;
	text-align: justify;
	font-size: 12pt;
}
.iphone-btn-desktop {
	float: left;
	margin-left: 30px;
}
.iphone-description-mobile {
	margin-top: 30px;
}
.iphone-description-mobile p {
	margin-left: 5px;
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}

/* Блок о iPad */
.ipad {
	background-color: #dbdbdb;
	height: 800px;
}
#ipad-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}
#ipad-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 30px;
}

.ipad-description-desktop {
	margin-top: 110px;
}
.ipad-description-desktop p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}
.ipad-btn-desktop {
	float: right;
	margin-right: 30px;
}
.ipad-description-mobile {
	margin-top: -10px;
}
.ipad-description-mobile p {
	margin-left: 5px;
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}

/* Блок о Watch */

.watch {
	background-color: #ffffff;
	height: 820px;
}
#watch-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 150px;
}
#watch-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 50px;
}

.watch-description-desktop {
	margin-top: 150px;
}
.watch-description-desktop p {
	width: 95%;
	margin-left: 30px;
	text-align: justify;
	font-size: 12pt;
}
.watch-btn-desktop {
	float: left;
	margin-left: 30px;
}
.watch-description-mobile {
	margin-top: 30px;
}
.watch-description-mobile p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}

 /* Блок о TV */

.tv {
	background-color: #dbdbdb;
	height: 875px;
}
#tv-img-desktop {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 100px;
}
#tv-mobile-part {
	 display: block;
 	 margin: 0 auto;
 	 margin-top: 50px;
}

.tv-description-desktop {
	margin-top: 110px;
}
.tv-description-desktop p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
}
.tv-btn-desktop {
	float: right;
	margin-right: 30px;
}
.tv-description-mobile {
	margin-top: 30px;
}
.tv-description-mobile p {
	width: 95%;
	text-align: justify;
	font-size: 12pt;
 }

 .desktop-button-tv {
 	float: right;
 	margin-right: 15px;
 }

 .mobile-button-tv {
 	margin-top: 50px;
 }
 